<!DOCTYPE html>
<html>
<head>
  <title>AURMC</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="ICON" href="/images/icon.ico" type="image/ico"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Website for the Auburn University Robotic Mining Team">
  <meta name="author" content="Stephen Arnsparger">
</head>
<body>
