<div class="home-page-wrapper">
   <div class="home-page-item first-item-on-page">
      <img class="home-page-image" src="/images/rmclogo.jpeg"/>
      <p class="home-page-text">
         The intent of this group is to facilitate a learning environment where
         students can grow and develop their set of skills. The Auburn Robotic
         Mining Competition Team designs, builds, and tests a mining robot capable of being driven
         remotly or autonomously to excavate Martian BP-1 regolith in
         a competition arena. AURMC has a heavy engineering focus but does not
         exclude non-engineering majors. We offer experience to non-engineering majors
         ranging from industrial and graphic design to marketing and business.
      </p>
   </div>
   <div class="home-page-item">
      <p>

      </p>
   </div>
</div>
