<div class="bar-wrapper">
	<div class="menu-bar">
		<div class="menu-items-wrapper">
			<!--<div class="menu-item"><img src="/images/thumbnail_house.png" class="menu-bar-thumbnail"></div> -->
			<div class="menu-item"><a href="/"><p class="menu-text">Home</p></a></div>
			<div class="menu-item"><a href="/team"><p class="menu-text">Team</p></a></div>
			<div class="menu-item"><a href="/member-portal"><p class="menu-text">Member Portal</p></a></div>
		</div>
	</div>
</div>
