<% include partials/header %>
<% include partials/menubar %>
<div class="wrapper">
	<div class="blank">

	</div>
	<div class="body">
		<% include partials/homebody %>
	</div>
	<div class="sidebar">

	</div>
</div>
<div>

</div>
<% include partials/footer %>
