body {
	background: url("../images/mars-globe-valles-marineris-enhanced.jpg");
	background-size: cover;
	background-repeat: no-repeat;
   background-position: center center;
	background-attachment: fixed;
	color: white;
	font-family: helvetica;
}

a:link {
	text-decoration: none;
}
/*     ALL WRAPPERS */
.wrapper {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-auto-rows: minmax(1000px, auto);
	grid-gap: 1em;
}
.bar-wrapper {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-auto-rows: 50px;
	grid-gap: 1em;
}
.menu-items-wrapper {
	display: grid;
	height: 50px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}
.home-page-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 1em;
}
/*   MENU RELATED */
.menu-bar {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	background-color: rgb(0, 0, 0);
	border-radius: 1em;
}
.menu-bar-thumbnail {
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
.menu-item {
	font-weight: bold;
	text-align: center;
	height: 50px;
	text-decoration: none;
}
.menu-text {
	text-align: center;
	height: 50px;
	font-family: helvetica;
	color: white;
	text-decoration: none;
}
.menu-text:hover {
	color: rgb(200, 200, 200);
	text-decoration: none;
}

/*    HOME PAGE    */
.home-page-item {
	background-color: black;
	border-radius: 1em;
}
.first-item-on-page {
	margin-top: 2em;
}
.home-page-text {
	font-size: 12pt;
	padding: 1em;
}
.home-page-image {
	display: block;
	margin: auto;
	padding: 2em;
}
/*   FOOTER   */
.footer {
	text-align: center;
}

/*   LEFT SIDE     */
.blank {
	/*background-color: rgb(255, 0, 0, 0.1);*/
}
/*   CONTENT    */
.body {
	/*background-color: rgb(0, 255, 0, 0.1);*/
}
/*   RIGHT SIDE          */
.sidebar {
	/*background-color: rgba(0, 0, 255, 0.1);*/
}
